.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/.DS_Store
maps/shapefiles/TL_SurfaceWater_Area.shx
maps/shapefiles/TG_SurfaceWater_Area.dbf
maps/shapefiles/TG_SurfaceWater_Area.prj
maps/shapefiles/TG_SurfaceWater_Area.shp
maps/shapefiles/TG_SurfaceWater_Area.shx
maps/shapefiles/TL_SurfaceWater_Area.dbf
maps/shapefiles/TL_SurfaceWater_Area.prj
maps/shapefiles/TL_SurfaceWater_Area.shp
maps/shapefiles/GB_IRworld.cpg
maps/shapefiles/GB_IRworld.dbf
maps/shapefiles/GB_IRworld.prj
maps/shapefiles/GB_IRworld.sbn
maps/shapefiles/GB_IRworld.sbx
maps/shapefiles/GB_IRworld.shp
maps/shapefiles/GB_IRworld.shx